/node_modules
/public/hot
/public/storage
/public/new/*
/public/backend/*
/public/uploads/*
/storage/*.key
storage/app/*
!storage/app/public/
storage/app/public/*
!storage/app/public/demo/
/vendor
vendor/
/.idea
/resources/ckeditor/node_modules/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/resources/admin/scss/css
/storage/installed



.DS_Store
/.DS_Store

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/